# Python
backend/venv/
**/__pycache__/
*.py[cod]

# Environment
backend/.env
frontend/.env

# Django
db.sqlite3
media/
staticfiles/

# Node
frontend/node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db